 
    <style>
       .nav-item{
            font-size: 1.2em!important;
            color: antiquewhite!important;
        }
       .nav-link{
           text-decoration: none!important;
       }
    </style>


<ul class="collapse navbar-collapse" id="navCollapse">


    <li class="nav-item col-xl-2 col-lg-2  col-md-2 col-sm-2 col-xs-2">
        <a href="index" class="fa fa-home fa-lg"></a>
    </li>


    <li class="nav-item col-xl-2 col-lg-2 col-md-3 col-sm-3 col-xs-1 dropdown">
        <a href="https://en.wikipedia.org/wiki/History_of_the_automobile" class="nav-link">Historics</a>
    </li>



    <li class="nav-item col-xl-2 col-lg-2 col-md-2 col-sm-2  col-xs-3 ">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Review</a>
        <div class="dropdown-menu">

            <a class="dropdown-item" href="engine">All Cars</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="fuelsystem">Audi</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="ignitionsystem">BMW</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="drivetrain">Ford</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="brakesystem">Honda</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Hyundai</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">KIA</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Mazda</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Mazda</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Mercedez-Benz</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Nissan</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">Toyota</a>
            <div class="dropdown-divider"></div>

           <a class="dropdown-item" href="suspension">Volkswagen</a>
</li>



    <li class="nav-item col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-2  dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Safety Tips</a>
        <div class="dropdown-menu">

            <a class="dropdown-item" href="general-safety">General Safety</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="engine">The Engine</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="fuelsystem">The Fuel System</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="ignitionsystem">The Ignition System</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="drivetrain">The Drive Train</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="brakesystem">The Brake System</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="suspension">The Suspension and Steering Systems</a>

        </div>
    </li>
</ul>
