
@{
    ViewBag.Title = "Brakesystem";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<style>
   .highlight{
        margin: 0 0 20px 20px!important;
        font-weight: bold;
    }

   .highlight li{
       text-align: left!important;
   }
</style>

<section>
    <div class="wrapper">
        <h3>The Brake System</h3>
        <div class="content">
            <p>The braking system allows the vehicle to be brought to a stop safely. The braking system includes both a mechanical and hydraulic system.</p>
            <p>The hydraulic brake system is the primary braking system while the mechanical brake system is used mostly as a supplementary system as well as for emergencies. Most modern brake systems include some form of a brake assist often referred to as “power brakes.”</p>

           <p> The hydraulic brake system uses the principle of hydraulics to transmit the motion and amplify the pressure exerted by the driver on the brake pedal to the individual braking components at each of the wheels. The main components of the system are:</p>
            <ul class="highlight text-left" >
           <li>The master cylinder and reservoir</li>
           <li>The front brake callipers, brake pads and rotors</li>
           <li>The rear wheel cylinders, brake shoe assembly and drums</li>
            </ul>
           <p> The master cylinder is located directly in front of the driver in the engine compartment and is operated through the use of the brake pedal. The pedal is connected to a plunger inside the master cylinder where pressure is applied to the fluid and transmitted to the wheel units by brake lines and hoses. The front brakes handle approximately 70% of the braking while the rear brakes handle only 30% therefore the front have disc brakes while the rear use drum brakes. Disc brakes are capable of producing a much greater braking force than drum. Disc brakes consist of a brake caliper, pads and rotor. The brake caliper and piston clamps the brake rotor much the same way the brakes on a bicycle grab the rim of the wheel. The brake pads allow for wear due to the friction needed to stop the vehicle. The drum brakes consist of a wheel cylinder, brake shoes and a drum. The wheel cylinder is located at the top of the assembly and has two (2) pistons which force the brake shoes outward. The shoes contact the brake drum generating the friction necessary to stop the vehicle.</p>
        </div>
    </div>
</section>


