
@{
    ViewBag.Title = "Engine";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<section>
    <div class="wrapper">
        <h3>The Engine</h3>
        <div class="content">
            <p>The engine is the vehicle’s main source of power. This is where chemical energy is converted into mechanical energy. </p>
            <p>The most popular type of engine is referred to as the Internal Combustion Engine. This engine burns an air/fuel mixture inside itself in order to drive a series of pistons and connecting rods that in turn rotate a crankshaft providing us with a continuous rotating motion with which to drive the vehicle and other components. The engine also incorporates others systems, including the lubrication system and the cooling system, all working efficiently together. The cooling system maintains the engine at an ideal operating temperature while the lubrication system ensures that all the moving parts are kept well oiled in order to provide a long serviceable life.</p>
        </div>
    </div>
</section>

