
@{
    ViewBag.Title = "Fuelsystem";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section>
    <div class="wrapper">
        <h3>The Fuel System</h3>
        <div class="content">
            <p>The fuel systems job it is to store and supply fuel to the engine. </p>
            <p>Early vehicle fuel systems were completely mechanical systems delivering fuel through the use of a mechanical fuel pump and using a carburetor to atomize and mix the fuel with air. Most of the system today is either electronically controlled and/or monitored. The fuel system may also include the Evaporative Emission System where by raw fuel vapours that would otherwise be vented to the atmosphere are stored and then drawn in and burned in the engine under normal operating conditions.</p>
        </div>
    </div>
</section>


