
@{
    ViewBag.Title = "Ignitionsystem";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section>
    <div class="wrapper">
        <h3>The Ignition System</h3>
        <div class="content">
            <p>The ignition system provides the spark necessary to ignite the air/fuel mixture inside the engine in order for it to burn. </p>
            <p>The spark must be provided at the correct time and sequence to the various cylinders in order to produce maximum horsepower with the least amount of fuel thus emitting the lowest amount of harmful emissions.</p>
        </div>
    </div>
</section>


