
@{
    ViewBag.Title = "Safety";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Safety</h2>
<p>Safety is an on going concern in the shop and should never be taken lightly. When inspecting and/or servicing a vehicle or any of its components always adhere to both the general shop safety rules as well as any additional safety rules specific to that area.</p>

<ul>
    <li>Transmissions are extremely heavy and should never be carried alone. When removing or installing a transmission be sure to have someone help you.</li>
    <li>Transmissions have sharp edges and should be handled with care. Never run your hands freely across any surfaces without some form of protection (work gloves or a rag).</li>
    <li>Brakes are capable of producing a tremendous amount of heat. When inspecting or servicing the brakes, use caution, as the wheel and brake components may not have had sufficient time to cool.</li>
    <li>Never use compressed air to blow brake dust off a wheel brake assembly. Use a special brake vacuum to remove unwanted dust. Older brake linings were made of asbestos, which is carcinogenic.</li>
    <li>Only use approved brake fluid in the brake system (DOT 3 or 4). Any other type of fluid may cause a sudden brake failure by destroying the rubber seals in the brake system.</li>
    <li>Avoid using hammers while removing and/or installing brake components. Many parts are cast and could develop stress cracks resulting in failure during operation.</li>
</ul>
