
@{
    ViewBag.Title = "Suspension";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section>
    <div class="wrapper">
        <h3>The Suspension and Steering System</h3>
        <div class="content">
            <p>The suspension and steering system provided a means of safely controlling the vehicle.</p>
            <p>The suspension system is designed to isolate most of the vehicle from any road shock and keep the vehicle stable when driving straight or turning. The steering system is intended to allow the operating to control the direction of the vehicle with the least amount of effort.</p>
            <p>The rack and pinion steering system is one of the most popular systems available. Each front wheel turns on its own axis and is connected to the steering unit by a steering arm and tie rod. The steering arms are bent inward to allow the inner wheel to turn at a greater angle than the outer wheel when turning. The movement of these parts is controlled by the steering wheel and shaft which has a pinion gear at the end. The pinion gear is engaged with a steering rack which slides either left or right depending on which way the pinion gear is rotated.</p>
        </div>
    </div>
</section>


